%h3 Subscribed user
%p
  Name:
  = @user.name
  = link_to 'Logout', session_path, method: :delete
.row
  .users
    %h4 Other users
    %ul
      = render User.excluding(@user).by_name

  #projects
    %h4 All Projects
    .list= render Project.by_newest_first
    = render partial: 'projects/form', locals: { project: Project.new }

.row
  .notifications{ data: { channel: "notifications", 'user-id' => @user.id } }
    %h4 Notifications
    = render @user.notifications

